<div class=".container">
  <h1> About Me...</h1>
  <br/>
  <p>I am a student at Izmir University of Economics.</p>
  <p>I am third year student and my major is Software Engineering.</p>
  <p>You can find my CV below for more info about me.</p>
  <%= image_tag "TAYLAN ÖZMERGEN CV-1.png" ,width: 1000, height: 1500 %>
  <%= image_tag "TAYLAN ÖZMERGEN CV-2.png" ,width: 1000, height: 1500 %>
</div>
