<div class="text-center">
  <h1>Contact Information</h1>
  <br/>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Platform</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mobile</td>
    <td>+90 (533) 409 74 92</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>LinkedIn</td>
    <td><p><%= link_to "LinkedIn",
                       "https://www.linkedin.com/in/taylan-%C3%B6zmergen-6a4208243/" %></p></td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Instagram</td>
    <td><p><%= link_to "Instagram",
                       "https://www.instagram.com/t.ozmergen?igsh=MWNvZmpmc2I3NW1yZw%3D%3D&utm_source=qr" %></p></td>
  </tr>
  </tbody>
</table>
