/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: #fff;
}

.container h1 {
    font-size: 2em;
    color: white;
}

.container p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
body {
    background-image: url('background.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
table {
    color: dimgray;
}
.custom-link{
    color: #ffffff;
    background-color: #404040;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 16px;
    margin: 3px;
    border-radius: 3px;
    display: inline-block;
}
.custom-link:hover {
    background-color: #333333;
}

.custom-link:active {
    background-color: #1a1a1a;
}